<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                        http://www.springframework.org/schema/beans/spring-beans.xsd  
                        http://www.springframework.org/schema/aop  
                        http://www.springframework.org/schema/aop/spring-aop.xsd  
                        http://www.springframework.org/schema/context  
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/tx  
                        http://www.springframework.org/schema/tx/spring-tx.xsd 
                        http://www.springframework.org/schema/task
                        http://www.springframework.org/schema/task/spring-task.xsd
                        http://code.alibabatech.com/schema/dubbo        
                        http://code.alibabatech.com/schema/dubbo/dubbo.xsd 
                        http://www.springframework.org/schema/mvc  
                        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!-- 定时器配置 --><!-- 定时取消订单 -->
	<bean id="orderFinanceSynService" class="com.spfood.oms.orderinfosyn.impl.OrderFinanceSynServiceImpl"/>
	<bean id="orderPayInfoToFmsTask" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass">
			<value>com.spfood.oms.orderinfosyn.quartz.OrderPayInfoToFmsJob</value>
		</property>
		<property name="jobDataAsMap">
			<map>
				<entry key="targetObject" value="orderFinanceSynService" />
				<entry key="targetMethod" value="sendOrderPayToFms" />
			</map>
		</property>
	</bean>
	<!-- 定义时间间隔触发器 -->
	<bean id="orderPayInfoToFmsTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="orderPayInfoToFmsTask" />
		</property>
		<property name="cronExpression">
			<value>0 0/1 * * * ?</value>
		</property>
	</bean>
	
	<!-- 启动定时器 -->
	<bean id="mapScheduler" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="configLocation" value="classpath:environments/devtest.properties" />
		<property name="triggers">
			<list>
				<ref bean="orderPayInfoToFmsTrigger" />
			</list>
		</property>
		<property name="applicationContextSchedulerContextKey" value="applicationContext" />
	</bean>
</beans>