<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spfood.oms.cart.intf.domain.CartCommodity" >
  <resultMap id="CommodityMap" type="com.spfood.oms.cart.intf.domain.CartCommodity" >
    <id column="comCode" property="comCode" jdbcType="BIGINT" />
    <result column="ccId" property="ccId" jdbcType="BIGINT" />
    <result column="cartCode" property="cartCode" jdbcType="VARCHAR" />
    <result column="orderNo" property="orderNo" jdbcType="VARCHAR" />
    <result column="comName" property="comName" jdbcType="VARCHAR" />
    <result column="peoperties" property="peoperties" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="sum" property="sum" jdbcType="REAL" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
    <result column="lasTtime" property="lastTime" jdbcType="TIMESTAMP" />
    <result column="comments" property="comments" jdbcType="VARCHAR" />
    <result column="pictureUrl" property="pictureUrl" jdbcType="VARCHAR" />
  </resultMap>
  
  <delete id="deleteByCodeInBatch" parameterType="com.spfood.oms.cart.intf.searchCriteria.CartCommoditySearchCriteria" >
    delete  cc.* from oms_cart_commodity cc left join oms_cart c  on c.cartcode = cc.cartcode   
    
    <where >
    	 c.customercode = #{customerCode,jdbcType=VARCHAR} 
         AND cc.comcode in  
      <foreach item="item" index="index" collection="comCodes" open="(" separator="," close=")">  
	  	#{item}  
	  </foreach>  
    </where>
  </delete>
  
  <delete id="deleteByPrimaryKeyInBatch" parameterType="java.util.List">
  	delete   from oms_cart_commodity    
    <where >
          ccid in  
      <foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
	  	#{item}  
	  </foreach>  
    </where>
  </delete>
  
  <update id="updateByPrimaryKey" parameterType="com.spfood.oms.cart.intf.domain.CartCommodity" >
    update oms_cart_commodity
    <set >
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="lastTime != null" >
        lasttime = #{lastTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE  comcode = #{comCode,jdbcType=VARCHAR}
  </update>
  
  <insert id="insertInBatch"  parameterType="com.spfood.oms.cart.intf.domain.CartCommodity" >
    insert into oms_cart_commodity(cartCode,comCode,amount,addTime,lastTime,pictureUrl)
    values  
    <foreach collection="list" item="item" index="index" separator=","  >  
        (#{item.cartCode},#{item.comCode},#{item.amount},#{item.addTime},#{item.lastTime},#{item.pictureUrl}) 
    </foreach> 
  </insert>
  
  <insert id="insert"  parameterType="com.spfood.oms.cart.intf.domain.CartCommodity" >
    insert into oms_cart_commodity(cartCode,comCode,amount,addTime,lastTime,pictureUrl)
    values (#{cartCode},#{comCode},#{amount},#{addTime},#{lastTime},#{pictureUrl}) 
  </insert>
  
</mapper>