<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spfood.oms.order.intf.domain.OrderLog" >
  <resultMap id="BaseResultMap" type="com.spfood.oms.order.intf.domain.OrderLog" >
    <id column="oprId" property="oprId" jdbcType="BIGINT" />
    <result column="orderNo" property="orderNo" jdbcType="VARCHAR" />
    <result column="oprTime" property="oprTime" jdbcType="TIMESTAMP" />
    <result column="oprContent" property="oprContent" jdbcType="VARCHAR" />
    <result column="oprator" property="oprator" jdbcType="VARCHAR" />
    <result column="opratorCode" property="opratorCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ORDERNO, OPRID, OPRTIME, OPRCONTENT, OPRATOR, OPRATORCODE
  </sql>
  
  <insert id="insert" parameterType="com.spfood.oms.order.intf.domain.OrderLog" >
    insert into oms_order_log (ORDERNO, OPRTIME, 
      OPRCONTENT, OPRATOR, OPRATORCODE)
    values (#{orderNo,jdbcType=VARCHAR}, #{oprTime,jdbcType=TIMESTAMP}, 
      #{oprContent,jdbcType=VARCHAR}, #{oprator,jdbcType=VARCHAR}, #{opratorCode,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertInBatch" parameterType="java.util.List" >
    insert into oms_order_log (ORDERNO, OPRTIME, 
      OPRCONTENT, OPRATOR, OPRATORCODE)
    values 
    <foreach item="orderLog" index="index" collection="list " separator="," >  
    (#{orderLog.orderNo,jdbcType=VARCHAR}, #{orderLog.oprTime,jdbcType=TIMESTAMP}, 
      #{orderLog.oprContent,jdbcType=VARCHAR}, #{orderLog.oprator,jdbcType=VARCHAR}, #{orderLog.opratorCode,jdbcType=VARCHAR})
	  </foreach>
  </insert>
  
  <insert id="insertSelective" parameterType="com.spfood.oms.order.intf.domain.OrderLog" >
    insert into oms_order_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderNo != null" >
        ORDERNO,
      </if>
      <if test="oprTime != null" >
        OPRTIME,
      </if>
      <if test="oprContent != null" >
        OPRCONTENT,
      </if>
      <if test="oprator != null" >
        OPRATOR,
      </if>
      <if test="opratorCode != null" >
        OPRATORCODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="oprTime != null" >
        #{oprTime,jdbcType=TIMESTAMP},
      </if>
      <if test="oprContent != null" >
        #{oprContent,jdbcType=VARCHAR},
      </if>
      <if test="oprator != null" >
        #{oprator,jdbcType=VARCHAR},
      </if>
      <if test="opratorCode != null" >
        #{opratorCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

</mapper>