<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spfood.oms.order.intf.domain.OrderTemp" >
  <resultMap id="BaseResultMap" type="com.spfood.oms.order.intf.domain.OrderTemp" >
    <result column="ORDERID" property="orderId" jdbcType="BIGINT" />
    <result column="ORDERNO" property="orderNo" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="CREATETIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
   
  <sql id="Base_Column_List" >
    ORDERID, ORDERNO, STATUS, CREATETIME
  </sql>
    
  <select id="select" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from oms_order_temp
    <include refid="where_query"/>
  </select>
  <delete id="delete" parameterType="java.lang.String" >
    delete from oms_order_temp
    where ORDERNO = #{orderNo,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteOrderTempListByOrderNo"  parameterType="java.util.List" >
  	 delete from oms_order_temp
    where ORDERNO in
     <foreach item="orderNo" index="index" collection="list " open="(" separator="," close=")">  
	  	 #{orderNo,jdbcType=VARCHAR}
	  </foreach>
  </delete>
  <insert id="insert" parameterType="com.spfood.oms.order.intf.domain.OrderTemp" >
    insert into oms_order_temp (ORDERNO, STATUS, 
      CREATETIME)
    values (#{orderNo,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.spfood.oms.order.intf.domain.OrderTemp" >
    insert into oms_order_temp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderNo != null" >
        ORDERNO,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createTime != null" >
        CREATETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateOrderTempByOrderNoSelective" parameterType="com.spfood.oms.order.intf.domain.OrderTemp" >
    update oms_order_temp
    <set >
      <if test="orderId != null" >
        ORDERID = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATETIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ORDERNO = #{orderNo,jdbcType=VARCHAR}
  </update>
  
  <select id="selectCount" resultType="java.lang.Long" parameterType="com.spfood.oms.order.intf.domain.OrderTemp" >
  	select count(*) from oms_order_temp 
  	<include refid="where_query"/>
  </select>
  
  <sql id="where_query">
	  <where>
	  	<if test="orderId != null" >
	        and ORDERID = #{orderId,jdbcType=BIGINT}
	      </if>
	      <if test="orderNo != null" >
	        and ORDERNO = #{orderNo,jdbcType=VARCHAR}
	      </if>
	      <if test="status != null" >
	        and STATUS = #{status,jdbcType=INTEGER}
	      </if>
	      <if test="createTime != null" >
	        and CREATETIME <![CDATA[<]]> #{createTime,jdbcType=TIMESTAMP}<!-- 定时取消用 -->
	      </if>
	  </where>
  </sql>
  
  <!-- 批量修改临时表状态 -->
   <update id="updateBatchOrderTempStatus" parameterType="java.util.List" >
    update oms_order_temp
	    SET STATUS = CASE ORDERNO 
		    <foreach item="order" index="index" collection="list " >  
		  	  WHEN #{order.orderNo,jdbcType=VARCHAR} THEN #{order.status,jdbcType=INTEGER}
		  	</foreach> 
    	END
    where ORDERNO in 
  	  <foreach item="order" index="index" collection="list " open="(" separator="," close=")">  
	  	 #{order.orderNo,jdbcType=VARCHAR}
	  </foreach>
  </update>
  
</mapper>