<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://code.alibabatech.com/schema/dubbo  
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/aop   
    	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    	http://www.springframework.org/schema/tx  
    	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
    
    <dubbo:application name="oms-quartz-service"></dubbo:application>  
    
    <dubbo:registry protocol="zookeeper" address="${zookeeperAddress}" check="false" subscribe="true" register="${register}"  file="oms-quartz-registry.properties"></dubbo:registry>
    
    <dubbo:protocol name="dubbo" port="29880" threads="10" accepts="20"></dubbo:protocol>
    
    <dubbo:monitor protocol="registry"/>
    
    <dubbo:provider timeout="6000"  retries="0"/> 
    
    
    <dubbo:reference id ="orderManagerService" interface="com.spfood.oms.order.intf.OrderManagerService"  check="false"  timeout="6000"  />
    <dubbo:reference id="orderFinanceSynService" interface="com.spfood.oms.orderinfosyn.intf.OrderFinanceSynService"  check="false"  timeout="6000" ></dubbo:reference>
    <dubbo:reference id="workOrderService" interface="com.spfood.wos.workOrder.intf.WorkOrderService"  check="false"  timeout="6000" ></dubbo:reference>
    
</beans>