<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spfood.wos.workOrder.intf.domain.HouseOrder" >

  <resultMap id="orderResultMap" type="com.spfood.wos.workOrder.intf.domain.HouseOrder" >
    <!-- 订单主表 -->
    <id column="ORDERID" property="orderId" jdbcType="BIGINT" />
    <result column="ORDERNO" property="orderNo" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="INTEGER" />
    <result column="CUSTOMER" property="customer" jdbcType="VARCHAR" />
    <result column="CUSTOMERCODE" property="customerCode" jdbcType="VARCHAR" />
    <result column="RECEIVER" property="receiver" jdbcType="VARCHAR" />
    <result column="RECEIVERCODE" property="receiverCode" jdbcType="VARCHAR" />
    <result column="REPCUSTOMER" property="repCustomer" jdbcType="VARCHAR" />
    <result column="REPCUSTOMERCODE" property="repCustomerCode" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="CITYNAME" property="cityName" jdbcType="VARCHAR" />
    <result column="cityCode" property="cityCode" jdbcType="VARCHAR" />
    <result column="ZONE" property="zone" jdbcType="VARCHAR" />
    <result column="ADDR" property="addr" jdbcType="VARCHAR" />
    <result column="CARRIAGE" property="carriage" jdbcType="DECIMAL" />
    <result column="DELIVERTIME" property="deliverTime" jdbcType="TIMESTAMP" />
    <result column="MODIFIER" property="modifier" jdbcType="VARCHAR" />
    <result column="MODIFIERCODE" property="modifierCode" jdbcType="VARCHAR" />
    <result column="MODIFYTIME" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="SITE" property="site" jdbcType="VARCHAR" />
    <result column="SITECODE" property="siteCode" jdbcType="VARCHAR" />
    <result column="ISBILL" property="isBill" jdbcType="INTEGER" />
    <result column="BILLTYPE" property="billType" jdbcType="INTEGER" />
    <result column="BILLTITLE" property="billTitle" jdbcType="INTEGER" />
    <result column="BILLCONTENT" property="billContent" jdbcType="VARCHAR" />
    <result column="USERCOMMENTS" property="userComments" jdbcType="VARCHAR" />
    <result column="ORDERAMOUNT" property="orderAmount" jdbcType="DECIMAL" />
    <result column="COMAMOUNT" property="comAmount" jdbcType="DECIMAL" />
    <result column="DISCOUNT" property="discount" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="CREATETIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="SIGN" property="sign" jdbcType="VARCHAR" />
    <result column="VERIFICATION" property="verification" jdbcType="VARCHAR" />
    <result column="TASKTIME" property="taskTime" jdbcType="TIMESTAMP" />
    <result column="PAYTYPE" property="payType" jdbcType="INTEGER" />
    <!-- 订单的商品 -->
    <collection property="orderCommList" ofType="com.spfood.wos.workOrder.intf.domain.HouseOrderCommodity" column="pid">  
            <id column="COMID" property="comId" jdbcType="BIGINT" />
            <result column="ORDERNO2" property="orderNo" jdbcType="VARCHAR" />
            <result column="CODE" property="code" jdbcType="VARCHAR" />
            <result column="NAME" property="name" jdbcType="VARCHAR" />
            <result column="PRICE" property="price" jdbcType="DECIMAL" />
            <result column="ACTPRICE" property="actPrice" jdbcType="DECIMAL" />
            <result column="COUNT" property="count" jdbcType="INTEGER" />
            <result column="SUBTOTAL" property="subTotal" jdbcType="DECIMAL" />
            <result column="ISPACKAGE" property="isPackage" jdbcType="INTEGER" /> 
            <result column="PICTUREURL" property="pictureUrl" jdbcType="INTEGER" /> 
            <result column="OUTCODE" property="outCode" jdbcType="INTEGER" /> 
            <result column="RECCODE" property="recCode" jdbcType="INTEGER" /> 
            <result column="SORTCODE" property="sortCode" jdbcType="INTEGER" /> 
            <result column="TYPE2" property="type" jdbcType="VARCHAR" />
    		<result column="TYPENAME" property="typeName" jdbcType="VARCHAR" />
    		<result column="AREACODE" property="areaCode" jdbcType="VARCHAR" />
    		<result column="AREANAME" property="areaName" jdbcType="VARCHAR" />
    </collection>   
    
  </resultMap>
  
  <sql id="Base_Column_HouseOrder" >
    o.orderNo, o.orderId, o.type, o.customer, o.receiver, o.phone,o.cityName,o.cityCode, o.zone, o.addr, o.carriage, o.deliverTime, 
    o.modifier, o.modifyTime, o.site,o.siteCode,o.isBill, o.billType, o.billTitle, o.billContent, o.userComments, o.orderAmount, o.comAmount,
    o.discount, o.status, o.createTime,o.sign,o.verification,o.taskTime
  </sql>
  
   <!-- 添加订单 -->
   <insert id="insert" parameterType="com.spfood.wos.workOrder.intf.domain.HouseOrder" >
     INSERT INTO wos_houseorder (ORDERNO, TYPE, 
      CUSTOMER, CUSTOMERCODE, REPCUSTOMER, 
      REPCUSTOMERCODE, RECEIVER, RECEIVERCODE, 
      PHONE, CITYNAME,CITYCODE,ZONE, ADDR, 
      CARRIAGE, DELIVERTIME, MODIFIER, 
      MODIFIERCODE, MODIFYTIME, SITE, SITECODE, 
      ISBILL, BILLTYPE, BILLTITLE, 
      BILLCONTENT, USERCOMMENTS, ORDERAMOUNT, 
      COMAMOUNT, DISCOUNT, STATUS, 
      CREATETIME, SIGN, VERIFICATION,TASKTIME
      )
    VALUES (  #{orderNo,jdbcType=VARCHAR},#{type,jdbcType=INTEGER}, 
      #{customer,jdbcType=VARCHAR}, #{customerCode,jdbcType=VARCHAR}, #{repCustomer,jdbcType=VARCHAR}, 
      #{repCustomerCode,jdbcType=VARCHAR}, #{receiver,jdbcType=VARCHAR}, #{receiverCode,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR},#{cityName,jdbcType=VARCHAR},#{cityCode,jdbcType=VARCHAR}, #{zone,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR}, 
      #{carriage,jdbcType=DECIMAL}, #{deliverTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{modifierCode,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{site,jdbcType=VARCHAR}, #{siteCode,jdbcType=VARCHAR}, 
      #{isBill,jdbcType=INTEGER}, #{billType,jdbcType=INTEGER}, #{billTitle,jdbcType=INTEGER}, 
      #{billContent,jdbcType=VARCHAR}, #{userComments,jdbcType=VARCHAR}, #{orderAmount,jdbcType=DECIMAL}, 
      #{comAmount,jdbcType=DECIMAL}, #{discount,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{sign,jdbcType=VARCHAR}, #{verification,jdbcType=VARCHAR},#{taskTime,jdbcType=TIMESTAMP}
      );
    <if test="orderCommList != null and orderCommList.size() != 0 ">
	insert into wos_houseorder_commodity
	(ORDERNO,CODE,NAME,TYPE,TYPENAME,PRICE,ACTPRICE,COUNT,SUBTOTAL,ISPACKAGE,PICTUREURL,
	AREACODE, AREANAME,OUTCODE,RECCODE,SORTCODE)
	values
	<foreach collection="orderCommList" item="item" index="index"
		separator=",">
		(#{item.orderNo,jdbcType=VARCHAR},#{item.code,jdbcType=VARCHAR},#{item.name,jdbcType=VARCHAR},
		#{item.type,jdbcType=VARCHAR},#{item.typeName,jdbcType=VARCHAR},#{item.price,jdbcType=DECIMAL},
		#{item.actPrice,jdbcType=DECIMAL},#{item.count,jdbcType=INTEGER},#{item.subTotal,jdbcType=DECIMAL},
		#{item.isPackage,jdbcType=INTEGER},#{item.pictureUrl,jdbcType=VARCHAR},#{item.areaCode,jdbcType=VARCHAR}, 
		#{item.areaName,jdbcType=VARCHAR},#{item.outCode,jdbcType=VARCHAR},#{item.recCode,jdbcType=VARCHAR},
		#{item.sortCode,jdbcType=VARCHAR})
	</foreach>;
</if>
	<!-- <if test="houseOrderTemp != null">
		insert into wos_housorder_temp (ORDERNO, STATUS, CREATETIME)
	    values (#{houseOrderTemp.orderNo,jdbcType=VARCHAR},  #{houseOrderTemp.status,jdbcType=INTEGER}, 
	      #{houseOrderTemp.createTime,jdbcType=TIMESTAMP})
	</if> -->
  </insert>
  
  <sql id="query_where">
		<where>
				<if test="zone != null">
					AND o.ZONE = #{zone}
				</if>
				<if test="orderNo != null">
					AND o.ORDERNO = #{orderNo}
				</if>
				<if test="startDate != null">
					AND o.CREATETIME >= date_format(#{startDate}, '%Y-%m-%d %H:%i:%s')
				</if>
				<if test="endDate != null">
					AND o.CREATETIME <![CDATA[<=]]>
					CONCAT_WS(' ',date_format(#{endDate}, '%Y-%m-%d'),'23:59:59')
				</if>
				<if test="status != null">
					AND o.STATUS = #{status}
				</if>
				<if test="receiver != null">
					AND o.RECEIVER like CONCAT('%',#{receiver},'%') 
				</if>
				<if test="site != null">
					AND o.SITE like CONCAT('%',#{site},'%') 
				</if>
				<if test="siteCode != null">
					AND o.SITECODE =#{siteCode} 
				</if>
				<if test="wishStartDate != null">
					AND o.DELIVERTIME >= date_format(#{wishStartDate}, '%Y-%m-%d %H:%i:%s')
				</if>
				<if test="wishEndDate != null">
					AND o.DELIVERTIME <![CDATA[<=]]>
					CONCAT_WS(' ',date_format(#{wishEndDate}, '%Y-%m-%d'),'23:59:59')
				</if>
		</where>
	</sql>
  
  <!-- 查询数量 -->
	<select id="selectHouseOrderCount" resultType="java.lang.Long" parameterType="com.spfood.wos.workOrder.intf.domain.HouseOrder">
		SELECT count(1) from wos_houseorder
		<include refid="query_where"/>
	</select>
	
   <!-- 通过订单编号查询订单 -->
  <select id="selectByPrimaryKey" resultMap="orderResultMap" parameterType="com.spfood.wos.workOrder.intf.domain.HouseOrder" >
    SELECT 
     o.orderNo , o.orderId, o.type, o.customer, o.receiver, o.phone,o.cityName,o.cityCode, o.zone, o.addr, o.carriage, o.deliverTime, 
    o.modifier, o.modifyTime, o.site,o.siteCode, o.billType, o.billTitle, o.billContent, o.userComments, o.orderAmount, 
    o.discount, o.status, o.createTime,o.sign,o.verification,o.taskTime,
    c.comId, c.orderNo orderNo2, c.code, c.name, c.price, c.actPrice, c.count, c.subTotal, c.isPackage,c.sortCode,
    c.outCode,c.recCode ,c.type type2,c.typeName,c.areaCode,c.areaName
    FROM wos_houseorder o 
    LEFT JOIN wos_houseorder_commodity c on o.orderNo = c.orderNo 
    WHERE o.orderNo = #{orderNo,jdbcType=VARCHAR}
  </select>
  
  <!-- 列表展示 -->
  <select id="getHouseOrderPage" resultMap="orderResultMap" parameterType="com.spfood.wos.workOrder.intf.domain.HouseOrder" >
  	 SELECT 
  	 o.orderId, o.cityName,o.cityCode,o.zone, o.orderNo,o.createTime,o.addr,o.receiver,o.customer,
  	 o.site,o.siteCode,o.siteCode,o.deliverTime,o.status,o.taskTime 
    FROM wos_houseorder o 
<!--     LEFT JOIN wos_houseorder_commodity c on o.orderNo = c.orderNo  -->
    <include refid="query_where"/>
    	ORDER BY ${sort}
  </select> 
  
  <!-- 修改订单状态 -->
  <update id="updateHouseOrderByOrderNoSelective" parameterType="com.spfood.wos.workOrder.intf.domain.HouseOrder" >
    update wos_houseorder
    <set >
      <if test="orderId != null" >
        ORDERID = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=INTEGER},
      </if>
      <if test="customer != null" >
        CUSTOMER = #{customer,jdbcType=VARCHAR},
      </if>
      <if test="customerCode != null" >
        CUSTOMERCODE = #{customerCode,jdbcType=VARCHAR},
      </if>
      <if test="repCustomer != null" >
        REPCUSTOMER = #{repCustomer,jdbcType=VARCHAR},
      </if>
      <if test="repCustomerCode != null" >
        REPCUSTOMERCODE = #{repCustomerCode,jdbcType=VARCHAR},
      </if>
      <if test="receiver != null" >
        RECEIVER = #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="receiverCode != null" >
        RECEIVERCODE = #{receiverCode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        cityName = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        cityCode = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="zone != null" >
        ZONE = #{zone,jdbcType=VARCHAR},
      </if>
      <if test="addr != null" >
        ADDR = #{addr,jdbcType=VARCHAR},
      </if>
      <if test="carriage != null" >
        CARRIAGE = #{carriage,jdbcType=DECIMAL},
      </if>
      <if test="deliverTime != null" >
        DELIVERTIME = #{deliverTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        MODIFIER = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifierCode != null" >
        MODIFIERCODE = #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFYTIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="site != null" >
        SITE = #{site,jdbcType=VARCHAR},
      </if>
      <if test="isBill != null" >
        ISBILL = #{isBill,jdbcType=INTEGER},
      </if>
      <if test="billType != null" >
        BILLTYPE = #{billType,jdbcType=INTEGER},
      </if>
      <if test="billTitle != null" >
        BILLTITLE = #{billTitle,jdbcType=INTEGER},
      </if>
      <if test="billContent != null" >
        BILLCONTENT = #{billContent,jdbcType=VARCHAR},
      </if>
      <if test="userComments != null" >
        USERCOMMENTS = #{userComments,jdbcType=VARCHAR},
      </if>
      <if test="orderAmount != null" >
        ORDERAMOUNT = #{orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="comAmount != null" >
        COMAMOUNT = #{comAmount,jdbcType=DECIMAL},
      </if>
      <if test="discount != null" >
        DISCOUNT = #{discount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATETIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sign != null" >
        SIGN = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="verification != null" >
        VERIFICATION = #{verification,jdbcType=VARCHAR},
      </if>
      <if test="taskTime != null" >
        TASKTIME = #{taskTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ORDERNO = #{orderNo,jdbcType=VARCHAR}
  </update>
  
  <!-- 批量查询订单 -->
   <select id="selectHouseOrderListByOrderNos" resultMap="orderResultMap"  parameterType="java.util.List">
    select 
    <include refid="Base_Column_HouseOrder" />
    from wos_houseorder o
    where o.ORDERNO in
      <foreach item="orderNo" index="index" collection="list " open="(" separator="," close=")">
	  	 #{orderNo,jdbcType=VARCHAR}
	  </foreach>
  </select>
  <!-- 批量修改 -->
  <update id="updateHouseOrderBatch" parameterType="java.util.List" >
    update wos_houseorder
	   SET STATUS = CASE 
    	 ORDERNO 
		    <foreach item="order" index="index" collection="list " >  
		  	  WHEN #{order.orderNo,jdbcType=VARCHAR} THEN #{order.status,jdbcType=INTEGER}
		  	</foreach>
		  	end,
		  	taskTime = case 
		  	 ORDERNO 
		    <foreach item="order" index="index" collection="list " >  
		  	  WHEN #{order.orderNo,jdbcType=VARCHAR} THEN #{order.taskTime,jdbcType=TIMESTAMP}
		  	</foreach>
    	END 
    where ORDERNO in 
  	  <foreach item="order" index="index" collection="list " open="(" separator="," close=")">  
	  	 #{order.orderNo,jdbcType=VARCHAR}
	  </foreach>
  </update>
  
  <!-- 根据订单号查询是否存在数据 -->
  
  <select id="selectNumByOrderNo" parameterType="java.lang.String" resultType="java.lang.Long">
  	select count(1) from wos_houseorder where orderno = #{orderNo} limit 1;
  </select>
  
  <!-- 批量查订单及关联商品 -->
   <select id="selectList" resultMap="orderResultMap" parameterType="java.util.List" >
    SELECT 
     o.orderNo , o.orderId, o.type, o.customer, o.receiver, o.phone,o.cityName,o.cityCode, o.zone, o.addr, o.carriage, o.deliverTime, 
    o.modifier, o.modifyTime, o.site,o.siteCode, o.billType, o.billTitle, o.billContent, o.userComments, o.orderAmount, 
    o.discount, o.status, o.createTime,o.sign,o.verification,o.taskTime,
    c.comId, c.orderNo orderNo2, c.code, c.name, c.price, c.actPrice, c.count, c.subTotal, c.isPackage,c.sortCode,
    o.taskTime,c.outCode,c.recCode ,c.type type2,c.typeName,c.areaCode,c.areaName
    FROM wos_houseorder o 
    LEFT JOIN wos_houseorder_commodity c on o.orderNo = c.orderNo 
    WHERE o.orderNo in
     <foreach item="orderNo" index="index" collection="list " open="(" separator="," close=")">
	  	 #{orderNo,jdbcType=VARCHAR}
	  </foreach>
  </select>
</mapper>